# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environment
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Models and logs
models/*.joblib
logs/

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
# Data files
data/*.csv
*.csv
data/processed_data.csv